<h1 id="title">ember-ist-model-builder</h1>
<hr/>

<h3>{{model.typeTitlePlural}}</h3>
<p>
  <strong>{{model.displayTitle}}</strong><br/>
  
  {{model.nameTitle}}:
  {{model.nameFormatted}}<br/>
  
  {{model.ageTitle}} ({{model.ageUnit}}):
  {{model.age}}<br/>
  
  {{model.dogYearsTitle}}:
  {{model.dogYearsFormatted}} {{model.dogYearsUnit}}<br/>
</p>

<hr/>

{{#each assoc in model.school.childAssociations}}
  <h3>{{assoc.title}}</h3>
  {{#each attr in assoc.object.defaultDisplayAttributes}}
    {{attr.title}}: {{attr.valueFormatted}}<br/>
  {{/each}}
{{/each}}
  
