<h1 id="title">ember-ist-model.student-builder</h1>
<hr/>

<h3>{{model.student.typeTitlePlural}}</h3>
<p>
  <strong>{{model.student.displayTitle}}</strong><br/>
  
  {{model.student.nameTitle}}:
  {{model.student.nameFormatted}}<br/>
  
  {{model.student.ageTitle}} ({{model.student.ageUnit}}):
  {{model.student.age}}<br/>
  
  {{model.student.dogYearsTitle}}:
  {{model.student.dogYearsFormatted}} {{model.student.dogYearsUnit}}<br/>
</p>

<hr/>

{{#each assoc in model.school.childAssociations}}
  <h3>{{assoc.title}}</h3>
  {{#each attr in assoc.object.defaultDisplayAttributes}}
    {{attr.title}}: {{attr.valueFormatted}}<br/>
  {{/each}}
{{/each}}
  


<hr />

<h1>Decorated</h1>
Name: {{input type="text" value=model.decorated.name}} [{{model.decorated.name}}]
<pre>
  proxyLocalProperties.name = [{{model.decorated.proxyLocalProperties.name}}]<br/>
  proxyCache.name = [{{model.decorated.proxyCache.name}}]
</pre>




<hr />
<h1>Editable Fields:</h1>
{{#each field in model.fieldsToEdit}}
  <label>{{field.label}}</label>
  {{input type="text" value=field.value }}<br />
{{/each}}
  

<hr />
<h1>Chain:</h1>
<p>
  Name: {{model.chain.name}}<br/>
  Age: {{model.chain.age}}<br/>
  School Name: {{model.chain.schoolName}}
</p>





